#myInput {
  width: 100%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

.table-wrapper-scroll-y {
  display: block;
}
