{% extends "layout.html" %}
{% block header %}
	<!--
		В тэг title вписываем название для каждой страницы
		оно будет отображаться на вкладке браузера
	-->
	{% if title %}
	    <title>{{title}}</title>
	{% else %}
	    <title>Field NLP HSE</title>
	{% endif %}
	<!--
		В тэги meta в свойство content нужно вписать текст, который будет отображаться
		в ссылках на страницу в соцсетях и будет краулиться поисковыми движками
	-->
	<meta property="og:title" content="Домашняя страница"/>
	<meta property="og:description" content="Описание проекта" />
	<!--
		Если нужно добавить javascript или css,
		специфичный именно для вашей страницы,
		раскомментируйте одну из строк ниже
		и добавьте ссылку на локальный файл / файл из cdn
	-->
	<!-- <script type="text/javascript" src="...someUrl..."></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="...someUrl..."> -->
{% endblock %}
{% block body %}
<!--
	добавляйте к div-ам, в которые оборачиваете конкретные элементы, класс mb-3.
	так они будут ровно вставать внутри основной колонки.
-->
<!-- Пример заголовка страницы (надо будет подумать, куда его передвинуть) -->
<h1 class="mb-3 text-center">Field NLP: инициатива по развитию полевой лингвистики</h1>
<!-- Пример блока card (в него можно вписывать текст) -->
<div class="card mb-3">
	<div class="card-header">О чём этот проект?</div>
	<div class="card-body">
		Наша цель - помочь полевым лингвистам
		<ul>
			<li> Избавить их от рутинного труда
			<li> Создать продвинутые NLP-инструменты
			<li> Упростить работу с малоресурсными языками
		</ul>
		<div class="card-text">
			И никакие преграды не страшны
		</div>
	</div>
</div>
{% endblock %}
