{% extends "layout.html" %}
{% block header %}
	<!--
		В тэг title вписываем название для каждой страницы
		оно будет отображаться на вкладке браузера
	-->
	{% if title %}
	    <title>{{title}}</title>
	{% else %}
	    <title>FieldNLP HSE</title>
	{% endif %}
	<!--
		В тэги meta в свойство content нужно вписать текст, который будет отображаться
		в ссылках на страницу в соцсетях и будет краулиться поисковыми движками
	-->
	<meta property="og:title" content="Морфологический парсинг"/>
	<meta property="og:description" content="Морфологический анализ для малоресурсных языков" />
	<!--
		Если нужно добавить javascript или css,
		специфичный именно для вашей страницы,
		раскомментируйте одну из строк ниже
		и добавьте ссылку на локальный файл / файл из cdn
	-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/parsers.js') }}"></script>
	<!-- <link rel="stylesheet" type="text/css" href="...someUrl..."> -->
{% endblock %}
{% block body %}
<!--
	добавляйте к div-ам, в которые оборачиваете конкретные элементы, класс mb-3.
	так они будут ровно вставать внутри основной колонки.
-->
<!-- Пример заголовка страницы (надо будет подумать, куда его передвинуть) -->
<h1 class="mb-6 text-center text-wrap" style="font-size: 1.5rem;">Морфологический&nbsp;анализ малоресурсных&nbsp;языков</h1>
<div>
	<form method="post">
		<div class="form-group mb-3">
			<select class="custom-select" name="transducer">
				<option 
					{% if curlang == "none" %} selected="true" {% endif %} 
					disabled="disabled"
				>Выберите язык</option>
				{% for key, val in mapping.items() %}
					<option 
						value="{{ key }}"
						{% if curlang==key %} selected="true" {% endif %}
					>{{ val.html_name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-row d-flex flex-column flex-md-row justify-content-between mb-3">
			<div class="col">
				<div>
					<textarea class="form-control mb-3" id="Input" rows="4">{{ request_text }}</textarea>
					<label for="Input" style="font-size: 0.7rem;">Текст можно ввести в поле выше или загрузить в виде файла:</label>
					<input type="file" class="form-control-file" enctype="multipart/form-data" id="FileUploadForm">
					<small id="FileUploadHelp" class="form-text text-muted">Допустимые расширения — .txt,</small>
				</div>				
			</div>
			<div class="col d-flex flex-row">
				<div class="card flex-grow-1 w-50 h-100">
					<div class="p-3 card-text h-100">{{ response_text }}</div>
				</div>
				<div class="w-25 col-3 d-flex flex-column h-100 justify-content-between" style="padding-right: 0;">
					<button id="plaintext" style="font-size: 0.65rem !important;" type="submit" class="btn btn-primary">Отобразить</button>
					<button id="json" style="font-size: 0.65rem !important;" type="submit" class="btn btn-primary">JSON</button>
					<button id="xml" style="font-size: 0.65rem !important;" type="submit" class="btn btn-primary">XML</button>
				</div>
			</div>
		</div>		
	</form>
</div>

<!-- Пример блока card (в него можно вписывать текст) -->
<div class="card mb-3">
	<div class="card-header">Как это работает?</div>
 	<div class="card-body">
 		<div class="card-title">А никак, на..й</div>
    	<div class="card-text">))0)</div>
 	</div>
</div>
<div class="card mb-3">
	<div class="card-header">Оставить отзыв</div>
 	<div class="card-body">
 		<div class="card-title">Проезжая станцию, с меня слетела шляпа</div>
    	<div class="card-text"></div>
 	</div>
</div>
{% endblock %}